.flex-coll{
  @apply flex;
  flex-direction: column;
}
.flex-row{
  @apply flex;
}
.flex-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.-center{
  justify-content: center;
  align-items: center;
}



