@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./flex.css";

@layer components {
  .abs-top {
    @apply top-o absolute z-0;
  }
  .abs-bot {
    @apply absolute bottom-0;
  }
  .abs-bl {
    @apply absolute bottom-0 left-0;
  }
  .abs-br {
    @apply absolute bottom-0 right-0;
  }
  .abs-tl {
    @apply absolute bottom-0 right-0 z-0;
  }

  .full-screen {
    width: 100vw;
    height: 100vh;
  }
}

@layer utilities {
  .minimalistScroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .minimalistScroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .minimalistScroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .minimalistScroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  .minimalistScroll {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .shadow-inner-top-bottom {
      box-shadow: 0px 20px 15px -22px rgba(0,0,0,0.45) inset, 0px -20px 15px -22px rgba(0,0,0,0.45) inset;
  }

}

body {
  @apply no-scrollbar;
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
.cl-formButtonPrimary {
  @apply bg-accent;
}
.cl-internal-1vi7rps {
  @apply left-[12px];
}
/*hide powered by clerk*/
.cl-internal-b3fm6y {
  @apply hidden;
}

.cl-userButtonPopoverFooter {
  @apply hidden;
}
